* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.header {
    background-color: rgba(255, 255, 255, 0.938);
    display: flex;
    justify-content: space-between;
}



/* left header */

.left-side {
    display: flex;
    align-items: center;
}

button {
    font-size: 19px;
    background-color: rgba(255, 255, 255, 0.938);
    margin: 20 15 20;
    font-weight: 500;
    font-stretch: extra-expanded;
}

  .nav-icon {
    width: 50px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.938);
}

/* right-header */

.right-side {
   display: flex;
}

.color {
    color: blue;
}

/* main body */

.Main {
    margin-top: 1px;
    background-color: rgba(255, 255, 255, 0.938);
}

.picture-1-contain {
    display: flex;
    justify-content: center;
    position: relative;
}

.picture-1 {
    width: 90%;
    height: 600px;
    filter: brightness(120%);
}

.picture-1-text {
    position: absolute;
    font-size: 150px;
    margin-top: 200px; 
    color: #ff764d;
}


/* footer */


